*{
  margin: 0px;
}
nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ce1717;
}

.navbar-img{
  width: 160px;
}

.searchbar-container{
  display: flex;
  margin: 0% auto;
  padding: 0 20px;
  align-items: center;
}
.searchbar{
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  margin-top: 3px;
}
.searchbar.campo{
margin-top: 15px;
}

.searchbar input{
  padding: 10px;
  height: 15px;
  background-color: rgb(240, 240, 240);
  box-shadow:  0px 2px 2px (0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.search-btn button{
  width: 100px;
  height: 40px;
  color: white;
  background-color: rgb(65, 102, 206);
  border-radius: 8px;
  border-color: aliceblue;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  
}

.App {
  text-align: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.pokedex-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid{
  display: grid;
  gap: 10;
  grid-template-columns: repeat(3, 1fr);
}