*{
  margin: 0px;
}
nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ce1717;
}

.navbar-img{
  width: 160px;
}

.App {
  text-align: center;
}
